.cover {
    background-size: cover !important;
    position: relative;
    position: absolute
}

.bg-center {
    background-repeat: no-repeat;
    background-position: center;
}

.br2 {
    border-radius: 1rem;
}
.dib {
    display: flex;
}

.inline-flex {
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.h2 {
    height: 3rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w2 {
    width: 5rem;
}

.w-100 {
    width: 80%;
}

.white-60 {
    color: rgba(255, 255, 255, .6);
}

.bg-black-80 {
    background-color: rgba(0, 0, 0, .8);
}

.bg-black {
    background-color: #000;
}

.bg-transparent {
    background-color: transparent;
}

.hover-white:hover {
    color: #fff;
}

.hover-white:focus {
    color: #fff;
}

.pa2 {
    padding: .5rem;
}

.pr2 {
    padding-right: .5rem;
}

.pv5 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ma2 {
    margin: .5rem;
}

.ml3 {
    margin-left: 1rem;
}

.tc {
    text-align: center;
}

.tx{
	color: #ffffff;
	box-shadow: #ffffff;
	padding: 0.5rem;
	padding-top: 0.3rem;
	margin-top: 10 5px;
}

.f6 {
    font-size: .575rem;
}

@media screen and (min-width: 60em) {
    .tc-l {
        text-align: center;
    }
}
